# User-specific files
.userdata

# Example code in package build process
*-Ex.R

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth



# Temporary files created by R markdown
*.utf8.md
*.knit.md


# pkgdown site
docs/

# translation temp files
po/*~

# apikey file to hide apikey
apikey.js 

# To Do markdown list 
todo.md
